<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome To Academy Form</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <h1>Player U19 Form </h1>
    <form action="/formu19" method="POST">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name" value="salim abdoune"><br>
      <label for="playpos">Playing Position:</label><br>
      <input type="text" id="playpos" name="playpos" value="7"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>